.container {
  padding: 20px;
}
.feedback {
	margin: 40px auto;
	padding: 20px;
	max-width: 700px;
	text-align: center;
 
	border: 1px solid black;
	border-radius: 20px;
 
	background-color: rgb(243, 247, 250);
 }
 .title {
	margin-bottom: 10px;
 }
 